<h1 style="margin-block-end:0;">Hello, Exchange Rates API</h1>
<p style="margin-block-start:0;margin-block-end:0;">Foreign exchange rates API with currency conversion.</p>
<p style="margin-block-start:0;">From: <%= link_to 'exchangeratesapi.io', 'https://exchangeratesapi.io/' %></p>
<hr>
<p style="margin-block-end:0;">The currency list:</p>
<small><%= @rates.collect { |key, value| [key] }.join(" ") %></small>
<hr>
<%= form_tag do %>
  <table>
    <tr>
      <td><%= text_field_tag :input, 1, size: 2 %></td>
      <td><%= select_tag :base, options_for_select(@rates.map { |a| a[0] }, key="USD") %></td>
      <td>to</td>
      <td><%= select_tag :rate_to, options_for_select(@rates.map { |a| a[0] }, key="IDR") %></td>
      <td><%= submit_tag 'Exchange' %></td>
    </tr>
  </table>
<% end %>
<% unless @exchanges == 0 %>
  <hr>
  <p><%= "#{@input}" %> <%= "#{@base}" %> to <%= "#{@rate_to}" %> | <mark><strong><%= number_to_currency(@exchanges, unit: '', delimiter: '.', separator: ',') %></strong></mark></p>
<p><%= link_to ' Reset', root_path %></p>
<% end %>
<hr>
<% if Rails.env.development? %>
  <%= debug(params) %>
<% end %>
